.root {
  color: #a8b2d1;
  line-height: 1.7;
  font-size: 1em;
}

.root h1,
.root h2,
.root h3 {
  color: #e2a04a;
  font-size: 1em;
  font-weight: 700;
  margin: 0.5em 0 0;
}

.root p {
  margin: 0.25em 0;
}

.root strong {
  color: #6b7394;
  font-weight: 600;
}

.root em {
  color: #a8b2d1;
  font-style: italic;
}

.root a {
  color: #5de4c7;
  text-decoration: none;
}

.root a[href^="/"] {
  cursor: pointer;
}

.root a:hover {
  text-decoration: underline;
}

.root ul {
  margin: 0.25em 0;
  padding-left: 1.5em;
}

.root li {
  margin: 0;
}

.root code {
  color: #5de4c7;
  font-family: inherit;
}

.root hr {
  border: none;
  border-top: 1px solid #2a2a4a;
  margin: 0.75em 0;
}

.root table {
  border-collapse: collapse;
  margin: 0.25em 0;
}

.root th,
.root td {
  padding: 0.1em 1em 0.1em 0;
  text-align: left;
}

.root th {
  display: none;
}

.root td:first-child {
  color: #5de4c7;
  white-space: nowrap;
}
